/* Usa o padrão UNIF */
.main-content {
  flex: 1;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card de login */
.login-box {
  background: white;
  width: 360px;
  padding: 40px 30px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s ease;
}

/* Logo */
.login-box img {
  width: 200px;
  margin-bottom: 20px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
}

/* Título */
.login-box h2 {
  color: #1a5c1a;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.login-box input:focus {
  outline: none;
  border-color: #1fa51f;
  box-shadow: 0 0 6px rgba(31, 165, 31, 0.6);
}

/* Redefinir */
.recuperar {
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}

.recuperar a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

/* Botão */
.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #000, #1fa51f);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-box button:hover {
  transform: scale(1.03);
}

/* Cadastrar */
.links a {
  color: #0066ff;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
