.hiperLink {
  border: none;
  color: black;
  background-color: white;
  text-decoration: none;
}

body {
  background: linear-gradient(to right, black 30%, #1a5c1a 70%);
}

.buttonSolid {
  border-radius: 5px;
  color: white;
  background-color: black;
}
