.hiperLink{
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
}

.hiperLink:hover{
    text-decoration: solid;
    font-size: 1.2em;
}

.buttonSolid{
    border-radius: 5px;
    color: white;
    background-color: black;
}