#imagem {
  width: 600px;
  margin-top: 23%;
  margin-left: 8em;
}

.right-box {
  display: flex;
  flex-direction: column; /* empilha as divs */
  align-items: flex-end; /* joga para direita */
  gap: 20px; /* espaço entre as divs */
  position: absolute;
  top: 20px; /* distância do topo */
  right: 20px; /* distância da direita */
  margin: 7em 10em 0em 0em;
}

.container {
  background: #f9f9f9;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 500px; /* largura fixa */
}

.container h3 {
  margin-top: 0;
}

.container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

#caixa {
  display: inline-block;
}

input,
textarea {
  display: block;
}

#descricaoComite {
  height: 40px;
}

textarea {
  resize: none;
  width: 103%;
}

/* estilo geral dos botões */
button {
  background-color: rgb(31, 165, 31);
  border-radius: 5px;
  color: white;
  width: 10em;
  margin: 1em auto 0 auto; /* centraliza horizontalmente */
  display: block;
  cursor: pointer;
}

button:hover {
  background-color: rgb(36, 146, 36);
}

/* grupo dos botões "Sim" e "Não" */
.dupla-btns {
  display: flex;
  justify-content: center;
  gap: 15px; /* espaço entre os botões */
  margin-top: 10px;
}

.dupla-btns button {
  width: 8em;
  margin: 0; /* remove o margin auto padrão */
}

/* botão de submeter */
.submit-btn {
  margin-top: 20px;
}
