input{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20em;
  border-radius: 5px;
  height: 1.5em;
}

body {
  background-color: black;
  align-items: center;
  justify-content: center;
}

.bloco {
  padding: 70px;
  border-color: black;
  background-color: white;
  border-radius: 30px;
  width: 30%;
  height: 30em;
  margin-top: 8em;
  float: right;
  margin-right: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

p {
  margin: 20px;
  margin-left: 0px;
}

#imagem {
  width: 48em;
}


a:hover{
    color: brown;
    size: 1.2em;
}
